* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue"; }

*:focus {
  outline: none; }

.head-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px; }
  .head-container .head-left-container {
    display: flex;
    width: 600px; }
    .head-container .head-left-container .head-logo {
      display: flex;
      align-items: center;
      font-size: 24px;
      padding: 0px 20px 0px 0px; }
    .head-container .head-left-container .head-links {
      display: flex;
      align-items: center; }
      .head-container .head-left-container .head-links ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none; }
        .head-container .head-left-container .head-links ul li {
          padding: 0px 30px;
          font-size: 22px;
          font-weight: 500;
          color: #828282; }
        .head-container .head-left-container .head-links ul a {
          text-decoration: none; }
        .head-container .head-left-container .head-links ul .head-active {
          color: #84E0D2; }
  .head-container .head-right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px; }
    .head-container .head-right-container .head-registered {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .head-container .head-right-container .head-registered .header-notification {
        width: 30px;
        height: 30px; }
      .head-container .head-right-container .head-registered .header-image {
        padding-left: 20px;
        width: 50px;
        height: 50px; }
    .head-container .head-right-container a {
      text-decoration: none; }
    .head-container .head-right-container .head-unregistered {
      display: flex;
      align-items: center; }
      .head-container .head-right-container .head-unregistered ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none; }
        .head-container .head-right-container .head-unregistered ul li {
          font-size: 18px;
          font-weight: 500;
          color: #828282; }
    .head-container .head-right-container .head-search input {
      width: 250px;
      height: 30px;
      font-size: 24px; }

* {
  font-family: "Helvetica Neue"; }

.footer-wrapper {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #4A5B6E; }
  .footer-wrapper p {
    color: #6E7B8B;
    padding-top: 40px;
    font-size: 20px; }

.index-banner {
  background-color: #84E0D2;
  height: 350px; }

.index-sort-banner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index-sort-banner ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap; }
    .index-sort-banner ul li {
      color: #95989A;
      padding: 0px 30px;
      font-size: 20px; }
    .index-sort-banner ul a {
      text-decoration: none; }
    .index-sort-banner ul .index-active {
      color: #FFDA96;
      border-bottom: 2px solid #FFDA96;
      padding: 0px 0px 5px 0px;
      font-weight: 600; }

.index-main {
  height: auto;
  background-color: #F8F8F8;
  padding: 100px 150px; }
  .index-main .index-tattoo-showcase-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    height: auto; }
    .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
      width: 320px;
      height: 270px;
      background-color: #FFFFFF; }
      .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-image {
        width: 90%;
        height: 80%;
        background-color: red;
        margin: 10px 15px 0px 15px; }
        .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-image img {
          width: 100%;
          height: 100%; }
      .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        height: 10%;
        margin-top: 5px; }
        .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-views {
          color: #95989A;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 14px; }
          .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-views i {
            font-size: 20px; }
          .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-views p {
            padding-left: 5px; }
        .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-comments {
          display: flex;
          flex-direction: row;
          color: #95989A;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          padding-left: 20px; }
          .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-comments i {
            font-size: 20px;
            padding-right: 5px; }
        .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-likes {
          display: flex;
          flex-direction: row;
          color: #95989A;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          padding-left: 20px; }
          .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-likes i {
            font-size: 20px; }
          .index-main .index-tattoo-showcase-wrapper .index-tattoo-wrapper .index-tattoo-wrapper-social .index-tattoo-wrapper-social-likes p {
            padding-left: 5px; }

.register-wrapper {
  background-color: #F8F8F8;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .register-wrapper .register-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 600px;
    width: 1000px;
    border: 2px solid #E0E1E2; }
    .register-wrapper .register-form-wrapper .register-form-wrapper-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      height: 80%;
      border-right: 1px solid #95989A; }
      .register-wrapper .register-form-wrapper .register-form-wrapper-left img {
        margin-top: -60px;
        padding-left: 40px; }
      .register-wrapper .register-form-wrapper .register-form-wrapper-left h2 {
        padding-top: 5px;
        padding-left: 35px;
        font-size: 28px;
        color: #FFDA96; }
    .register-wrapper .register-form-wrapper .register-form-wrapper-right {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 40%;
      height: 80%; }
      .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-title {
        padding-bottom: 20px; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-title h2 {
          padding-left: 70px;
          color: #95989A;
          font-size: 20px; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-title .register-highlight {
          color: #84E0D2; }
      .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin-left: 80px;
        margin-top: 20px; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form form {
          display: flex;
          justify-content: space-between;
          width: 100%; }
          .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form form h3 {
            color: #95989A;
            font-size: 18px;
            font-weight: normal; }
          .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form form input {
            margin-top: 10px;
            margin-bottom: 25px;
            border: 1px solid #95989A;
            width: 175px;
            height: 30px;
            background-color: #FFFFFF;
            box-shadow: none;
            color: #000000;
            font-size: 14px; }
          .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form form .dob-select {
            margin-top: 10px;
            margin-bottom: 25px;
            height: 30px;
            background-color: #ffffff; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form img {
          width: 200px;
          height: 50px;
          margin-bottom: 20px; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form input {
          width: 175px;
          height: 35px;
          background-color: #FFDA96;
          color: #FFFFFF;
          font-family: "Helvetica Neue";
          font-size: 18px;
          border: none;
          box-shadow: 0px 3px 6px #E1E1E1; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form .register-form-left {
          width: 45%; }
        .register-wrapper .register-form-wrapper .register-form-wrapper-right .register-form-wrapper-right-form .register-form-right {
          width: 45%;
          align-self: flex-end; }

.login-wrapper {
  background-color: #F8F8F8;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-wrapper .login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 600px;
    width: 1000px;
    border: 2px solid #E0E1E2; }
    .login-wrapper .login-form-wrapper .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80%;
      width: 80%; }
      .login-wrapper .login-form-wrapper .login-form .login-form-title {
        font-size: 26px; }
      .login-wrapper .login-form-wrapper .login-form .login-form-input {
        margin-top: 100px; }
        .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-userpass h3 {
          color: #95989A;
          font-size: 18px;
          font-weight: normal; }
        .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-userpass input {
          margin-top: 10px;
          margin-bottom: 25px;
          border: 1px solid #95989A;
          width: 450px;
          height: 30px;
          background-color: #FFFFFF;
          box-shadow: none;
          color: #000000;
          font-size: 14px; }
        .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-checksubmit {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-checksubmit .login-form-checksubmit-check {
            display: flex;
            flex-direction: row;
            align-items: center; }
            .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-checksubmit .login-form-checksubmit-check .login-rememberme {
              width: 20px;
              height: 20px;
              border: 1px solid #95989A; }
            .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-checksubmit .login-form-checksubmit-check p {
              color: #95989A;
              font-size: 16px;
              font-weight: normal;
              margin-left: 5px; }
          .login-wrapper .login-form-wrapper .login-form .login-form-input .login-form-checksubmit .login-submit {
            display: flex;
            background-color: #FFDA96;
            align-self: flex-end;
            width: 175px;
            height: 35px;
            justify-content: center;
            color: #FFFFFF;
            font-size: 18px;
            border: none; }
    .login-wrapper .login-form-wrapper .login-form-signup {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      justify-content: center;
      color: #95989A; }
      .login-wrapper .login-form-wrapper .login-form-signup a {
        text-decoration: none; }
      .login-wrapper .login-form-wrapper .login-form-signup .login-highlight {
        color: #84E0D2; }
