.design-banner
  background-image: url("/resources/images/designbanner.jpg")
  background-size: cover
  height: 350px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white

  h1
    margin-top: -10px
    font-size: 60px

  p
    font-size: 22px

.design-sort-banner
  height: 170px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  h3
    color: #4A5B6E

  ul
    display: flex
    list-style: none
    flex-direction: row
    flex-wrap: wrap

    li
      font-size: 20px

      a
        text-decoration: none
        color: #95989A

      .design-active
        color: #FFDA96
        border-bottom: 2px solid #FFDA96
        padding: 0px 0px 5px 0px
        font-weight: 600







    //.design-active2
    //  color: #FFDA96
    //  border-bottom: 2px solid #FFDA96
    //  padding: 0px 0px 5px 0px
    //  margin-left: 10px
    //  font-weight: 600

    .padding-left
      padding-left: 30px

  #design-form
    padding-bottom: 20px

    #design-search
      margin-top: 20px
      width: 300px
      height: 30px
      color: #828282
      font-size: 20px
      font-weight: 200
      padding-left: 10px
      padding-bottom: 10px

    #tattoo-search-button
      height: 30px
      width: 100px
      background: #FFDA96
      border: none
      color: #FFFFFF


/* tattoo listings section */
/* tattoo listings section */
#design-main
  height: auto
  background-color: #F8F8F8
  width: 100%
  //border: 1px solid red
  padding: 100px

  #design-tattoo-container
    //border: 1px solid red
    padding-top: 30px

    #design-tattoo-image-wrapper
      display: flex
      justify-content: center
      //border: 1px solid red

      #design-tattoo-image
        padding-top: 15px
        padding-bottom: 15px
        //border: 1px solid blue
        display: flex
        align-self: center
        background: white
        position: relative

        img
          height: 210px
          width: 300px

        a
          display: none
          position: absolute

          .image-overlay
            width: 300px
            max-width: 300px
            height: 210px
            background: RGBA(0,0,0,0.4)



          .image-overlay-text
            height: 100%
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            position: absolute
            opacity: 1
            color: #FFFFFF


    #design-tattoo-social-wrapper
      display: flex
      justify-content: flex-end
      margin-right: 18px
      //border: 1px solid red
      padding-left: 5px

      #design-tattoo-social
        display: flex
        justify-content: flex-end
        background-color: white
        //border: 1px solid green
        //padding-right: 20px
        text-align: right
        color: #95989A

        .tattoo-social-share
          margin-top: -5px
          width: 26px
          height: 26px







/* tattoo listings section */


