.index-banner
  background-color: #84E0D2
  height: 350px

.index-sort-banner
  //border: 1px solid black
  height: 100px
  display: flex
  justify-content: center
  align-items: center

  ul
    display: flex
    list-style: none
    flex-direction: row
    flex-wrap: wrap

    li
      color: #95989A
      padding: 0px 30px
      font-size: 20px

    a
      text-decoration: none

    .index-active
      color: #FFDA96
      border-bottom: 2px solid #FFDA96
      padding: 0px 0px 5px 0px
      font-weight: 600

.index-main

  height: auto
  background-color: #F8F8F8
  padding: 100px 150px

  .index-tattoo-showcase-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    //border: 1px solid black
    flex-grow: 1
    height: auto




    .index-tattoo-wrapper-image
      width: 90%
      height: 80%
      background-color: red
      margin: 10px 15px 0px 15px

      img
        width: 100%
        height: 100%



