.upload-wrapper
  background-color: #F8F8F8
  height: 900px
  display: flex
  justify-content: center
  align-items: center

  .upload-form-wrapper
    display: flex
    justify-content: center
    align-items: center
    background-color: #FFFFFF
    height: 700px
    width: 1000px
    border: 2px solid #E0E1E2

    .upload-form-wrapper-left
      display: flex
      flex-direction: column
      //justify-content: center
      align-items: center
      width: 40%
      height: 80%
      border-right: 1px solid #95989A

      img
        margin-right: 80px
        margin-top: 50px
        height: 240px
        width: 350px

      h2
        //padding-top: 5px
        padding-right: 140px
        font-size: 28px
        color: #FFDA96

      .upload-tattoo-submit
        margin-top: 10px
        width: 175px
        height: 35px
        background-color: #FFDA96
        border: none
        color: #FFFFFF


    .upload-form-wrapper-right
      display: flex
      align-items: center
      flex-direction: column

      width: 40%
      height: 80%
      //border: 1px solid black

      .upload-form-wrapper-right-form
        display: flex
        flex-direction: column
        //justify-content: center
        //align-items: center
        width: 400px
        margin-left: 80px
        margin-top: 20px
        //border: 1px solid blue

        .upload-form-fields

          h3
            font-size: 18px
            color: #95989A
            font-weight: 200

          #upload-submit-button
            background-color: #FFDA96
            width: 100%
            border: none
            color: white

          #tattoo-title, #tattoo-tags
            height: 35px
            width: 400px
            border: 1px solid #95989A

          .tattoo-description
            height: 135px
            width: 400px
            border: 1px solid #95989A



          h3
            color: #95989A
            font-size: 18px
            font-weight: normal

        .upload-form-captchasubmit
          margin-top: -10px
          display: flex
          flex-direction: column
          align-items: center

          .upload-submit
            width: 175px
            height: 35px
            background-color: #FFDA96
            border: none
            color: #FFFFFF



        img
          width: 200px
          height: 50px
          margin-bottom: 20px

        //input
        //  width: 175px
        //  height: 35px
        //  background-color: #FFDA96
        //  color: #FFFFFF
        //  font-family: "Helvetica Neue"
        //  font-size: 18px
        //  border: none
        //  box-shadow: 0px 3px 6px #E1E1E1




        .upload-form-left
          //border: 1px solid red
          width: 45%


        .upload-form-right
          width: 45%
          //border: 1px solid green
          align-self: flex-end




